.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  min-height: 350px;
  pointer-events: none;
}

.App-header {
  background-color: var(--slice-blue);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  font-style: italic;
}

@media {
  .App-down {
    animation: App-point-down infinite 1.5s ease-in-out;
  }
}

@keyframes App-point-down {
  0% {
    transform: translateY(0);
  } 50% {
    transform: translateY(15px);
  } 100% {
    transform: translateY(0);
  }
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/


/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
