.App {
  text-align: center;
}

.AppHeader {
  background-color: var(--theme-blue);
  min-height: 100vh;
  width: 100%;
  font-size: 1.5em;
  color: white;
}

.AppHeader h1 {
  font-family: Yellowtail, sans-serif;
  font-size: 3em;
}

.AppHeader p {
  font-style: italic;
}

.AppTitle {

}

.AppLogo {
  animation: grow ease-in-out 400ms;
}

@keyframes grow {
  from {
    transform: scale(40%);
  }
  70% {
    transform: scale(120%);
  }
  to {
    transform: scale(100%);
  }
}
