#footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: wrap;
    width: 90%;
    height: var(--footer-height);
    padding: 20px 5%;
    background-color: var(--theme-blue);
    color: white;
    gap: 20px 50px;
}

#footerInfo {
    display: flex;
    flex-flow: wrap;
    gap: 20px 50px;
}

#footerContact {
    min-width: 122px;
}

#footerHours {
    min-width: 120px;
}

#footerManagement {
    min-width: 120px;
}

#footerCr {
    align-self: flex-end;
}

#footerContainer h1 {font-size: 1.2em}
#footerContainer p {font-size: 0.8em}