#reg-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    width: 100%;
    min-height: 100vh;
    padding-top: calc(var(--header-height) * 1);
    background-image: linear-gradient(var(--slice-blue), var(--slice-orange));
}

#reg-display {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    width: 60%;
    padding: 40px;
    margin: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #333333;
}

#reg-display h1 {
    margin: 20px;
    color: #333;
}

#reg-form {
    width: 100%;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 5px;
}

.reg-text {
    border: 0 #333333 solid;
    border-bottom-width: 1px;
    font-family: Outfit, sans-serif;
    transition: all .3s;
}

.reg-text:focus {
    border: 0 var(--slice-blue) solid;
    border-bottom-width: 2px;
}

.reg-label {
    transform: translateY(-10px);
}




